<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835413626398-ccvpv6cp7pog29t07j03j5cjbed4nct0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835413626398-ccvpv6cp7pog29t07j03j5cjbed4nct0</string>
	<key>API_KEY</key>
	<string>AIzaSyBXySr1RnsAHo1aGfJowvtFZ-iFOAJMze8</string>
	<key>GCM_SENDER_ID</key>
	<string>835413626398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heckerbella.doctorsapp</string>
	<key>PROJECT_ID</key>
	<string>hope-doctors-5d41a</string>
	<key>STORAGE_BUCKET</key>
	<string>hope-doctors-5d41a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835413626398:ios:745c9f04b711e9ff41280f</string>
</dict>
</plist>